extends layout

block content
  .page-header
    h2 我的竞猜结果：

  table.table.table-hover(id="myTable")
    thead
      th #
      th team1
      th(colspan=3) 预测比分
      th team2
      th 比赛时间
    tbody
      each item in items
        tr
          td #{item.no}
          td #{item.team1}
          td(id="score1#{item.no}" contentEditable="true" 
            onfocus="getFocus('score1#{item.no}')"
            onblur="lostFocus('score1#{item.no}')") #{item.score1}
          td  : 
          td(id="score2#{item.no}" contentEditable="true" 
            onfocus="getFocus('score2#{item.no}')"
            onblur="lostFocus('score2#{item.no}')") #{item.score2}
          td #{item.team2}
          td
            div(id="time#{item.no}" value="#{item.time.valueOf()}") #{item.showtime}
          td
            button.btn.btn-default(id="btn#{item.no}" type="submit" onclick="bet(#{item.no})") 提交比分
          td
            div(id="bet#{item.no}")

  script(src='/js/2014.js')
