extends layout

block content
  .page-header
    h2 我的竞猜

  table.table.table-hover.table-condensed(id="myTable")
    tbody
    each item in items
      tr
        if item.hideDate
          td 
        else
          td(align="right") #{item.showDate}
        td
          div(id="time#{item.no}" value="#{item.time.valueOf()}") #{item.showTime}
        td(align="center")
          //img.flag.img-thumbnail(src='/images/wc2014/#{item.flag1}.png')
          div(class="flag flag-#{item.flag1}")
        td(align="center") #{item.team1}
        td
          input.score(value="#{item.score1}") 
        td(align="center") :
        td
          input.score(value="#{item.score2}") 
        td(align="center") #{item.team2}
        td(align="center")
          //img.flag.img-thumbnail(src='/images/wc2014/#{item.flag2}.png')
          div(class="flag flag-#{item.flag2}")
        td #{item.stage}
        td #{item.group}
        td
          button.btn.btn-primary(id="subOne#{item.no}") 提交比分
        td [#{item.no}]

  script(src='/js/bet.js')
