extends layout

block content
  h1 我的竞猜结果：

  table(id="myTable")
    thead
      th #
      th team1
      th 预测比分
      th team2
      th 比赛时间
    tbody
      each item in items
        tr
          td #{item.no}
          td #{item.team1}
          td(id="score1#{item.no}" contentEditable="true") #{item.score1}
          td  : 
          td(id="score2#{item.no}" contentEditable="true") #{item.score2}
          td #{item.team2}
          td
            div(id="time#{item.no}" value="#{item.time.valueOf()}") #{item.showtime}
          td
            button(id="btn#{item.no}" type="submit" onclick="bet(#{item.no})") 投票
          td
            div(id="bet#{item.no}")

  script(src='/js/2014.js')
