extends layout

block content
  .page-header
    h2 世界杯赛程

  table.table.table-hover.table-condensed
    tbody
    each item in items
      tr
        if item.hideDate
          td 
        else
          td #{item.showDate}
        td #{item.showTime}
        td(align="center")
          img.flag.img-thumbnail(src='/images/wc2014/#{item.flag1}.png') 
        td(align="center") #{item.team1} 
        td(align="center") #{item.score1}
        td(align="center") :
        td(align="center") #{item.score2}
        td(align="center") #{item.team2}
        td(align="center")
          img.flag.img-thumbnail(src='/images/wc2014/#{item.flag2}.png') 
        td #{item.stage}
        td #{item.group}
        td
          a.btn.btn-info(href="match/#{item.no}") 目前竞猜
        td [#{item.no}]