extends layout

block content
  .page-header
    h2 世界杯

  table.table.table-hover
    thead
      th #
      th 
      th 比分
      th
      th 比赛时间
    tbody
    each item in items
      tr
        td #{item.no}
        td #{item.team1}
        if item.score
          td #{item.score}
        else
          td 尚未开始
        td #{item.team2}
        td #{item.showtime}
        td
          a(href="match/#{item.no}") 目前竞猜